@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

:root {
    --main-bg-background: rgb(15, 15, 15);
    --main-bg-seconde: #3cd300;

}

mark {
    color: #3cd300;
    background-color: transparent;
}

.send_form {
    display: none;
}

html {
    scroll-behavior: smooth;
}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.button-form {
    margin-top: 40px;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 180px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 50%;
    font-size: 0.6rem;
    border-radius: 2px;
    background-color: black;
    color: white;
}


section {
    scroll-snap-align: center;
}


.top-nav {

    background-color: #fdfdfd;
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    align-items: center;
}

.logo {
    position: relative;
    border: 1px solid #000;
    overflow: hidden;
    width: 50px;
    margin: 50px;
}

.logo img {
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.logo img:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.menu ul {
    display: flex;
}

.menu ul li {

    list-style: none;
    padding: 0 20px;
}

.menu a {
    color: #010c00;
    text-decoration: none;
    text-transform: uppercase;

    font-size: 1.1 rem;
}

header .menu-mobile {
    display: none;
    width: 30vh;
    height: 100vh;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    z-index: 99;
}

header .menu-mobile ul li {
    padding: 60px 0;
}

header .menu-mobile ul li a {
    text-decoration: none;
    color: #fdfdfd;
    font-weight: 400;
}

header .menu_button-form {
    display: none;
    position: absolute;
    right: 60px;
    z-index: 99;
}

header .menu_button-form img {

    width: 20px;
    height: 20px;
    cursor: pointer;
}


/* HOME */

#home .container {
    cursor: default;
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg-background);
    background-position-x: left;
    background-position-y: bottom;
    background-repeat: no-repeat;

}

#home .container .content {
    width: 80%;
    height: 80vh;
    display: flex;
    align-items: self-end;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    margin-left: 100px;
}

#home .container .content h1 {
    margin-top: 50px;
    color: var(--main-bg-seconde);
    font-size: 6rem;
    text-transform: uppercase;
}

#home .container .content p {
    color: #ebe8e8;
    font-size: 1.2rem;
    text-align: justify;
    letter-spacing: 1px;
    width: 800px;
}

#home .container .content button {
    box-sizing: border-box;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 1.2em 2.8em;
    text-align: center;
    border: 2px solid #42e73c;
    cursor: pointer;
    border-color: #000000;
    border-radius: 0.6em;
    color: rgb(83, 172, 0);
    background-image: -webkit-linear-gradient(45deg, #4cc407 50%, transparent 50%);
    background-image: linear-gradient(45deg, #0ad403 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

#home .container .content button:hover {
    background-position: 0;
    color: #000;

}


/* ABOUT */
#about {
    cursor: default;
    background-color: var(--main-bg-background);
}

#about .container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}

.about-c {
    margin-left: 50px;
}

#about .about-c p {
    margin: 40px 10px
}

#about p {
    margin-top: 10px;
    font-size: 120%;
    /* font-size: 1.2rem; */
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
}

#about h2 {

    font-size: 3rem;
    font-weight: 400;
    color: var(--main-bg-seconde);
}


#about .about-list h2 {
    font-size: 2.5rem;
}

#about .about-list ul {
    list-style: circle;
    margin: 0px 30px;
}

#about .about-list li {
    font-size: 2rem;
    margin: auto;
    list-style: circle;
    text-decoration: solid;
    font-style: oblique;
    color: whitesmoke;
}

/* HOW */

#how {

    height: 100%;
    background-color: var(--main-bg-background);
}

#how .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.how-to {
    display: flex;
}

#how h3 {
    color: var(--main-bg-seconde);
    text-transform: uppercase
}

#how h3:hover {
    color: #f5f5f5;

}

#how h2 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    color: var(--main-bg-seconde);
    text-align: center;
}

body {
    background: #262a2b;
}

.tilesWrap {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0;
    margin: 20px auto;
    list-style: none;
    text-align: center;
    justify-items: center;
    cursor: default;
}

.tilesWrap li {
    display: inline-block;
    width: 20%;
    min-width: 400px;
    max-width: 530px;
    padding: 100px 100px 40px;
    /* padding: 80px 20px 40px; */
    position: relative;
    vertical-align: top;
    margin: 10px;
    font-family: 'helvetica', san-serif;
    min-height: 25vh;
    background: transparent;
    background-image: url("./components/img/eye.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #252727;
    text-align: left;
    cursor: default;
}



.tilesWrap li:nth-child(1) {
    background-image: url(./components/img/eye.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 150px;
}

.tilesWrap li:nth-child(2) {
    background-image: url(./components/img/desemp.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 150px;
}


.tilesWrap li:nth-child(3) {
    background-image: url(./components/img/venda.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 150px;
}

.tilesWrap li:nth-child(4) {
    background-image: url(./components/img/adapt.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 150px;
}




.tilesWrap li h2 {
    font-size: 114px;
    margin: 0;
    position: absolute;
    opacity: 0.2;
    top: 50px;
    right: 10px;
    transition: all 0.3s ease-in-out;
}

.tilesWrap li h3 {

    font-size: 2.5rem;

    margin-bottom: 5px;
}

.tilesWrap li h3:hover {
    width: 100%;
    transition: 0.3s;
    color: rgb(0, 0, 0);

}

.tilesWrap li p {
    font-size: 16px;
    line-height: 18px;
    color: #b7b7b7;
    margin-top: 5px;
}



.tilesWrap li:hover h2 {
    top: 0px;
    opacity: 0.6;
}



.tilesWrap li:after {
    content: '';
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(255 255 255 / 9%);
}

/* MEMBERS */
#members {
    height: 100vh;
    background-color: var(--main-bg-background);
    color: white;
}

.members-text {
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members-c img {
    width: 11%;
}

.members-c span {
    font-size: 3rem;
}

.members-c {
    display: grid;

}

.members-c ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members-c li {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    border-radius: 100px;
    margin: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.members-text p {
    font-size: 1rem;
}


/* FORM */


#form.container {
    position: relative;
    width: 100%;

    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
#form .answer{
    top: 10px;
}

#form .column {
    margin-bottom: 1.5rem;
    width: 100%;
    float: left;
    box-sizing: border-box;
}

@media (min-width: 640px) {
    #form .container {
        width: 90%;
        padding: 0;
    }

    #form .column {
        margin-left: 4%;
    }

    #form .column:first-child {
        margin-left: 0;
    }

    #form .full-width.column {
        width: 100%;
        margin-left: 0;
    }

    #form .one-half.column {
        width: 48%;
    }

    #form .one-third.column {
        width: 30.6666666667%;
    }

    #form .two-thirds.column {
        width: 65.3333333333%;
    }

    #form .one-quarter.column {
        width: 22%;
    }

    #form .two-quarter.column {
        width: 48%;
    }

    #form .three-quarter.column {
        width: 74%;
    }

    #form .one-half.column {
        width: 48%;
    }



}

#form #question-1 {

    flex-direction: column;
    align-content: stretch;
    align-items: center;
}

.display-question-1 {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}



#form input {
    margin: 0px 0px 0px 10px;
    overflow: visible;
    width: 90%;
    color: #000;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 0.5rem 0.5rem;
    font-family: 'Lato', sans-serif;
}

#form svg {
    position: relative;
    top: 10px;
    height: 100%;
    color: #000;
    background-color: rgb(255, 255, 255);
}

#form .spaninput {
    border-radius: 0.2rem;
    width: 90%;
    font-weight: 900;
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
    display: flex;
}

#form .container:after,
.row:after,
.clearfix {
    content: "";
    display: table;
    clear: both;
}



#form h1,
h2,
h3,
h4 {
    font-family: 'Barclaycard Co Lt', sans-serif;
    color: var(--main-bg-seconde);
    margin-top: 0;
}

#form h1 {
    font-size: 54px;
}

#form h2 {
    font-size: 36px;
}

#form h3 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 10px;
}



#form .center {
    text-align: center;
}

#form .questions_box {
    background-color: transparent;

    text-align: left;

}

#form .button {

    margin: 10px 0 0 0;
    float: right;
    cursor: pointer;
    font-size: 1em;
    border: none;
    padding: 10px 15px;
    line-height: 18px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    vertical-align: baseline;
    background: var(--main-bg-seconde);
    color: white;
    text-decoration: none !important;
    display: inline-block;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
}

#form .button:hover {
    background-color: #1B5E00 !important;
    color: white;
}

#question-2,
#question-3,
#question-4,
#question-5,
#question-6,
#question-7 {
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    display: none;
}

#progress_bar {
    background-color: var(--main-bg-seconde);
    width: 10%;
    height: 10px;
    transition: all 100ms ease-in-out;
}

/*  */
.form-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(0, 0, 0, .8);
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.form-container.active {
    display: flex;
}

.form-cont {
    border-radius: 20px;
    width: 80%;
    height: 90%;
    min-width: 300px;
    padding: 40px;
    border: 5px solid #3bd100;
    background-color: rgb(34, 34, 34);
}

@keyframes show {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.active .form-cont {
    animation: show .3s;
}

.form-cont h1 {
    margin: 60px 20px;
    color: var(--main-bg-seconde);
}

.form-cont form {
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-cont button {
    box-sizing: border-box;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 1.0em 1.8em;
    text-align: center;
    border: 2px solid #42e73c;
    cursor: pointer;
    border-color: #000000;
    border-radius: 0.6em;
    color: rgb(7, 14, 0);
    background-image: -webkit-linear-gradient(45deg, #010300 50%, transparent 50%);
    background-image: linear-gradient(45deg, #ffffff 50%, transparent 50%);

}

.form-cont span {
    font-weight: 900;
    color: white;
    font-size: 1.7rem;
}

.form-cont input {
    align-items: center;
    justify-content: center;
    font-size: 180%;
    height: 50px;
    width: 90%;
    font-weight: 900;
    color: white;
    background-color: transparent;
}



.button-green {
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.button-green:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.button-green:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

.button-green:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.input-1,
.input-2,
.input-3,
.input-4,
.input-5 {
    display: none;
}

/* RADIO FORM */

/* section */
#question-5 section {
    width: 50%;
    min-height: inherit;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    position: relative;
}

section::before,
section::after {
    content: "";
    display: block;

    border-radius: 100%;

    position: absolute;
}





#question-5 #question-5 .dark {
    --primary: hsl(123, 100%, 68%);
    --other: hsl(0, 0%, 90%);

    background: hsl(0, 0%, 10%);
}


/* h1 */
#question-5 h1 {
    color: hsl(0, 0%, 90%);
    padding: 8px 4px;
    border-bottom: 2px solid hsl(0, 0%, 90%);
}


/* label */
#question-5 label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    margin: 12px 0;

    cursor: pointer;
    position: relative;
}


/* input */
#question-5 input {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}


/* .design */
#question-5 .design {
    width: 16px;
    height: 16px;

    border: 1px solid hsl(0, 0%, 90%);
    border-radius: 100%;
    margin-right: 16px;

    position: relative;
}

#question-5 .design::before,
.design::after {
    content: "";
    display: block;

    width: inherit;
    height: inherit;

    border-radius: inherit;

    position: absolute;
    transform: scale(0);
    transform-origin: center center;
}

#question-5 .design:before {
    background: hsl(0, 0%, 90%);
    opacity: 0;
    transition: .3s;
}

#question-5 .design::after {
    background: hsl(123, 100%, 68%);
    opacity: .4;
    transition: .6s;
}


/* .text */
#question-5 .text {
    font-size: 100%;
    color: hsl(0, 0%, 90%);
    font-weight: bold;
}


/* checked state */
#question-5 input:checked+.design::before {
    opacity: 1;
    transform: scale(.6);
}


/* other states */
#question-5 input:hover+.design,
input:focus+.design {
    border: 1px solid hsl(123, 100%, 68%);
}

#question-5 input:hover+.design:before,
input:focus+.design:before {
    background: hsl(123, 100%, 68%);
}

#question-5 input:hover~.text {
    color: hsl(123, 100%, 68%);
}

#question-5 input:focus+.design::after,
input:active+.design::after {
    opacity: .1;
    transform: scale(2.6);
}

/* CONTACTS */
#contacts {
    background-color: var(--main-bg-background);
}

#contacts .contacts-c {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;

}

#contacts .contacts-c h1 {
    color: var(--main-bg-seconde);
    text-transform: uppercase;
    text-align: center;
}

#contacts .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

#contacts .container .card {
    position: relative;
    padding: 10px;
    width: 300px;
    background-color: #ffffff;
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.2;
    text-align: center;
}

#contacts .container .card img {

    width: 100px;
    height: 100px;
}

#contacts .container .card h2 {
    font-size: 2rem;
}

#contacts p {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 16px;
    outline: none;
    margin-top: 20px;
}

#contacts .container a {
    color: var(--main-bg-seconde);
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    border-radius: 40px;
    font-size: 16px;
    outline: none;
    margin-top: 20px;
}

#contacts .container a:hover {
    transition: 0.5s;
    color: #000;
    background-color: #0ad403;
}

/* FOOTER */
footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(240, 240, 240);
}

footer .container span {
    line-height: 60px;
    color: black;
}

footer .container a {
    text-decoration: none;
    color: red;
}

/* RESPONSIVE */


@media screen and (max-width:1060px) {
    #home .container {
        background-size: cover;
    }

    #home .container .content {
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    #home .container .content p {
        width: 500px;
        font-size: 0.9rem;
        margin-top: 30px;
    }

    #home .container .content h1 {
        font-size: 4rem;
    }

    #home .container .content button {
        margin-top: 50px;
        font-size: 0.8rem;
        padding: 0.8rem 0.8rem;
        font-weight: 100;

    }

    /* ABOUT */
    #about .container h2 {
        margin-top: 20px;
        font-size: 2.5rem;
    }

    #about .about-c {

        margin: 40px;
    }

    #about .about-c p {
        font-size: 0.9rem;
    }

    .tilesWrap {
        display: grid;
        grid-template-columns: auto;
    }

    /* HOW */
    #how h2 {
        text-align: center;
        text-transform: uppercase;

        font-weight: 300;
        color: var(--main-bg-seconde);
    }





    /* contacts */
    @media screen and (max-width:950px) {
        #contacts .container .card {
            margin: 30px;
            width: 250px;

        }

        #contacts .container a {
            font-size: 0.9rem;
        }

        #contacts .container .card img {
            width: 80px;
            height: 80px;
        }

        #about .about-c p {
            font-size: 0.9rem;


        }


        .members-c span {
            font-size: 2rem;
        }
    }
}

@media screen and (max-width:780px) {
    header .top-nav .logo img {
        width: 350px;
        height: 100%;
    }

    header .menu {
        display: none;
    }

    header .menu_button-form {
        display: block;
        position: fixed;
    }

    /* HOME */
    #home .container .content h1 {
        font-size: 1.9rem;
        margin-top: 100px;
    }

    #home .container .content p {
        width: 250px;
        font-size: 1rem;
        padding: 20px;
    }

    /* ABOUT */
    #about .about-c p {
        font-size: 0.9rem;
    }

    /* HOW */
    #how {
        align-items: center;
    }

    #how h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.7rem;
        font-weight: 300;
        color: var(--main-bg-seconde);
    }



    /* CONTACTS */
    #contacts .container .card {
        margin: 20px;
        width: 150px;

    }

    #contacts .container a {
        font-size: 0.7rem;
    }

    #contacts .container .card img {

        width: 50px;
        height: 50px;
    }

    #contacts .container .card h2 {
        font-size: 1rem;
    }

    /* FORM */

    #form input {
        width: 80%;
    }

    .form-cont .form-cont form {
        margin-top: 40px;
    }

    #form h2 {
        font-size: 22px;
    }

    #form h3 {
        font-size: 1.2rem;
    }

    #form #question-5 {
        width: 300px;
    }

    /* FOOTER */
    footer .container {
        font-size: 13px;

    }

    footer .container span {
        line-height: 40px;

    }

    footer .container a {
        text-decoration: none;
        color: rgb(235, 69, 3);
    }
}

@media screen and (max-width:440px) {
    .button-form {
        width: 200px;
        font-size: 11px;

    }

    #how {

        height: 100%;
    }

    #how h2 {
        margin-top: 50px;
    }

    #how h3 {
        font-size: 1.2rem;
    }

    .how-c {
        margin-top: 100px;
    }


    .how-to {
        display: flex;
    }

    #about .about-c p {
        font-size: 0.9rem;
    }

    .tilesWrap {
        padding: 0;
        margin: 10px auto;
        list-style: none;
        text-align: center;
    }

    .tilesWrap li {
        min-width: 280px;
    }

    .tilesWrap h2 {
        display: none;
    }

    /* CONTACTS */

    #contacts {
        display: block;
    }

    #contacts .contacts-c h1 {
        font-size: 2rem;
        ;
    }

    /* FORM */
    #form svg {
        position: relative;
        top: 5px;
    }

    .answer .erro {
        border: 2px red solid;
    }

    .erro {
        border: 2px red solid;
    }

    .answer.erro {
        border: 2px red solid;
    }

    #form .answer {
        height: 40px;
        font-size: 1rem;
        overflow: initial;
    }

    #form .button {
        font-size: 14px;
    }

    #form .text {
        width: 200px;
    }

    /* MEMBERS */
    .members-c li {
        width: 100%;
    }

    .members-c span {
        font-size: 1rem;
    }


    .members-c img {
        width: 20%;
    }
}
